.signup{
    margin-top: 11vh;
    height:89vh;
    font-family: var(--font-sofia-pro-regular-az);
}

.rightSide{

    background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.5) 70%);

}

.title{
    font-family: var(--font-sofia-pro-black-az);
    font-size: 2em;
}

.rightSide input{
    background-color: #010101;
    color:#fff;
}

.link{
    color:#ba0000;
    text-shadow: #6e0000 1px 0 10px;
    text-decoration: underline;
}