
/* Optional: Hover effect for links inside navbar */
.navbar a:hover {
    color: #ff4040;
}


.logo h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
    font-family: var(--font-sofia-pro-black-az);
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 20px;
    font-family: var(--font-sofia-pro-medium-az);
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}

.topBar {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;       
    left: 0;        
    height: 11%;
    width: 100%;     
    z-index: 1000;   
    color: white;
    padding: 10px 20px;
    /* background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.9) 70%); */
    background:rgba(0, 0, 0, 0.9);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.topbar a:hover {
    color: #ff4040;
}


.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.logo{
    
    width:30%;

}

.logo img{
            background: radial-gradient(circle, rgba(120, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.0) 50%);
            background-size:contain;

}

.userIcon{
    /* padding-bottom:12px; */
}