.nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 100%;
    gap: 15px;

}

.nav li {
    margin-left: 20px;
    font-family: var(--font-sofia-pro-medium-az);
    display: flex;
    align-items: center;  
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}

.userIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    border: 1px solid #fff;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center; 
    width: 30%;
}

.logo img {
    background: radial-gradient(circle, rgba(120, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0) 50%);
    background-size: contain;
}

.topBar {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;       
    left: 0;        
    height: 11%; 
    width: 100%;     
    z-index: 1000;   
    color: white;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.9);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}