
  
  .header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .profileCard {
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }
  
  .details p {
    margin: 0.5rem 0;
  }
  
  .form label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .form span {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #000;

  }
  
  .textarea {
    resize: vertical;
    background: #000;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .editButton,
  .saveButton,
  .cancelButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  .saveButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .successMessage {
    color: #28a745;
    margin-top: 1rem;
  }
  
  .errorMessage {
    color: #dc3545;
    margin-top: 1rem;
  }
  

.profileContainer {
  background-color: rgb(0, 0, 0, 0.6);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.6%;
  border-radius: 25px;
  align-items: left;
  justify-content: left;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  font-family: var(--font-sofia-pro-regular-az);
}

.details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.profileHeader {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 1rem;
}

.profilePicture {
  border-radius: 50%;
  border: 1px solid #fff;
  object-fit: cover;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}

.username {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  font-family: var(--font-sofia-pro-medium-az);
}

.nameRow {
  display: flex;
  gap: 5px;
  font-family: var(--font-sofia-pro-regular-az);

}

.firstName,
.lastName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.bio {
  margin: 20px 0;
  font-size: 1rem;
  color: #ccc;
  /* text-align: center; */
}

.events {
  margin-top: 20px;
  color: #fff;
}

.events h2 {
  margin-bottom: 10px;
}

.editButton {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width:10vw;
}

/* .fileInput{
  width:80px;
  height:80px;
  border-radius: 50%;

} */