@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#map { height: 180px; }


.topo-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 10%, transparent 11%);
  background-size: 20px 20px;
  animation: moveTopoLines 8s linear infinite, fadeLines 4s alternate infinite;
}

@keyframes moveTopoLines {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fadeLines {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}