.message{
    color:black;
}

.chatroomContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    background-color: rgba(86, 86, 84, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding:2%;
    border: none;
    font-family: var(--font-sofia-pro-medium-az);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.username{
    font-size: 0.8em;
    margin-right:8px;
    margin-bottom: 4px;
    color:#fefefe;
}

.messagesContainer{
    height:600px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    border:  1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.messagesContainer::-webkit-scrollbar {
    width: 5px !important;
    z-index: 9999;
    /* padding: 30px; */
    margin: 20px;
    

}

.eventTitle{
    font-size: 1.5em;
    color: white;
    margin: 0;
    margin-bottom: 0.6%;
    display: inline;
    text-align: center;
}

.messagesContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color:#fefefe;
    margin-right: 10px;
    z-index: 9999;

}

.inputField{
    flex: 1;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #ddd;
    /* width:80%; */
    background: black;
}

.pinButton{
    margin-left: 5px;
    display: none;
}

.messageBody{
    gap:8px;
    /* padding:8px; */
    padding-left: 12px;
    padding-right: 12px;
    /* min-width: 20%; */
}

.messageContent{
    border-radius: 25px;
    padding:8px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 2vw;
    margin-bottom: 4px;

}

.pinButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #eee;
    display: none;
}

.messageContainer:hover .pinButton {
    display: inline; 
}

.showPinnedButton{
    padding: 6px 10px;
    border:none;
    border-radius: 4px;
    color:#fff;
    margin-bottom: 5px;
    width:50px;

}

.messageContainer {
    display: flex;
    gap: 8px; /* Add space between the profile picture and the message */
    padding: 8px;
    cursor:pointer;
    border-right: none;
    border-left: none;
    width: 100%;
    z-index: 0;
    /* background-clip: padding-box;  */
    position: relative;
    transition: all 0.3s ease-in-out;
}

.messageContainer:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    
}

.messageProfilePicture {
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    flex-shrink: 0; /* Prevent shrinking */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    align-self: center;
    /* position:relative; */
}


.noMessages{
    text-align: center;
    align-self: center;
    font-size : 1.2em;
    margin-top: auto;
    margin-bottom: auto;

}

.sendButton{
    padding:8px 12px;
    border-radius: 25px;
    border:none;
    color:#fff;
    cursor:pointer;
}