.openForm{
    background-color: #333333;
    padding:10px;
    border-radius: 10px;
    border:none;
    font-family: var(--font-sofia-pro-medium-az);
    transition: right 0.3s ease-in-out;
    position: absolute;
    bottom: 2%;
    right: 1%; 
    z-index: 1000;
}

.openChat{
    background-color: #333333;
    padding:10px;
    border-radius: 10px;
    border:none;
    font-family: var(--font-sofia-pro-medium-az);
    transition: left 0.3s ease-in-out;

    position: absolute;
    bottom: 2%;
    left: 1%; 
    z-index: 1000;

}

.createForm{
    font-family: var(--font-sofia-pro-ultralight-az);

}

.chatroomBar{
        position: absolute;
        top: 11%;
        width: 300px;
        height: 100%;
        background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.9) 70%);
    
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-shadow: 0 10px  rgba(0,0,0,0.5);
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        padding: 20px;
        color: #fff;
        overflow-x: hidden;
        font-size: 1.3em;
        /* font-family: var(--font-sofia-pro-ultralight-az); */

    
}

.chatroomBar::-webkit-scrollbar {
    width: 10px !important;
    padding: 30px;

}


.chatroomBar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color:#fff;
    margin-right: 10px;

}

.createForm input{
    background-color: #111;
}
.createForm textarea{
    background-color: #111;

}

.createFormTitle{
    font-family: var(--font-sofia-pro-medium-az);

}

.closeForm{
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: var(--font-sofia-pro-medium-az);
}

.rightPanel{
    position: absolute;
    top: 11%;
    width: 300px;
    height: 100%;
    background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.9) 70%);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 10px  rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    color: #fff;
    overflow-x: hidden;
    font-size: 1.3em;
    /* font-family: var(--font-sofia-pro-ultralight-az); */

}

.select{
    background-color: #111;
    color: #fff;
    /* font-family: var(--font-sofia-pro-ultralight-az) */

}

.checkbox{
    display: flex;
    margin-top:20px;
    margin-bottom:20px;

}

.checkLabel{
    width:100%;
}

.checkInput{
    margin-right: 10px;
    margin-left: -30px;
}

.option:hover, .option:focus{
    background-color:red;

}
/* .select > .option > a:hover, .select > .option > a:focus {
    background-color:red;
} */
.searchBar {
    position: absolute; /* Use absolute positioning */
    /* top: 50%; Position at the vertical center */
    top:3%;
    left: 30%; /* Position at the horizontal center */
    z-index: 9999; /* Make sure it's above other components */
}

.searchInput {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    width:20vw;
    background-color: #111;
    font-family: var(--font-sofia-pro-ultralight-az);
}

.searchButton {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #111;
    color: white;
    border: 1px solid #ccc;
    
    
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.searchButton:hover {
    background-color: #777;
}

.eventPopup{
    font-family: var(--font-sofia-pro-medium-az);
}


.categorySelector {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    background-color: #111;
    font-family: var(--font-sofia-pro-ultralight-az);
    margin-right: 10px;
}
