.openForm{
    background-color: #333333;
    padding:10px;
    border-radius: 10px;
    border:none;
    font-family: var(--font-sofia-pro-medium-az);
    transition: right 0.3s ease-in-out;
    position: absolute;
    bottom: 2%;
    right: 1%; 
    z-index: 1000;
}

.openChat{
    background-color: #333333;
    padding:10px;
    border-radius: 10px;
    border:none;
    font-family: var(--font-sofia-pro-medium-az);
    transition: left 0.3s ease-in-out;

    position: absolute;
    bottom: 2%;
    left: 1%; 
    z-index: 1000;

}

.createForm{
    font-family: var(--font-sofia-pro-ultralight-az);

}

.eventBar{
        position: absolute;
        top: 11%;
        width: 300px;
        height: 100%;
        background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.9) 70%);
    
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-shadow: 0 10px  rgba(0,0,0,0.5);
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        padding: 20px;
        padding-bottom: 100px;
        color: #fff;
        overflow-x: hidden;
        font-size: 1.3em;
        font-family: var(--font-sofia-pro-medium-az);


    
}

.eventBar::-webkit-scrollbar {
    width: 10px !important;
    padding: 30px;

}


.eventBar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color:#fff;
    margin-right: 10px;

}

.createForm input{
    background-color: #111;
}
.createForm textarea{
    background-color: #111;

}

.createFormTitle{
    font-family: var(--font-sofia-pro-medium-az);

}

.closeForm{
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: var(--font-sofia-pro-medium-az);
}

.rightPanel{
    position: absolute;
    top: 11%;
    width: 300px;
    height: 100%;
    background: radial-gradient(circle, rgba(20, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.9) 70%);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 10px  rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    color: #fff;
    overflow-x: hidden;
    font-size: 1.3em;
    /* font-family: var(--font-sofia-pro-ultralight-az); */

}

.select{
    background-color: #111;
    color: #fff;
    /* font-family: var(--font-sofia-pro-ultralight-az) */

}

.checkbox{
    display: flex;
    margin-top:20px;
    margin-bottom:20px;

}

.checkLabel{
    width:100%;
}

.checkInput{
    margin-right: 10px;
    margin-left: -30px;
}

.option:hover, .option:focus{
    background-color:red;

}
/* .select > .option > a:hover, .select > .option > a:focus {
    background-color:red;
} */

.eventPopup{
    font-family: var(--font-sofia-pro-medium-az);
}


.categorySelector {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    background-color: #111;
    font-family: var(--font-sofia-pro-ultralight-az);
    margin-right: 10px;
}


.eventCard{
    background-color: #111;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-family: var(--font-sofia-pro-ultralight-az);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.eventBarCardTitle{
    font-family: var(--font-sofia-pro-medium-az);
}


.searchBar {
    position: absolute;
    display: flex;
    top:3%;
    left: 25%; 
    z-index: 9999; 
}

.searchInput {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    width:20vw;
    background-color: #111;
    font-family: var(--font-sofia-pro-ultralight-az);
}

.searchButton {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #111;
    color: white;
    border: 1px solid #ccc;
    
    
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.searchButton:hover {
    background-color: #777;
}


.filterToggle {
    border: 1px solid #ccc;
    padding: 2px;
    padding-right:10px ;
    border-radius: 25px;
    margin-right: 10px;
    display: flex; 
    align-items: center; 
    font-family: var(--font-sofia-pro-ultralight-az);
    gap: 10px;
}

.filterToggle input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute; 
}

.slider {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #565654;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #BD0000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #BD0000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.sliderText{
    font-size:16px;
}