.eventCard{

    background-color: rgb(0, 0, 0,0.6);
    padding-left : 5%;
    padding-right : 5%;
    padding-bottom : 0.6%;

    border-radius: 25px;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top:15vh;
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    /* height: 100vh; */
    font-family: var(--font-sofia-pro-regular-az);

}

.title{
    font-size: 4rem;
    color: white;
    margin: 0;
    margin-right: 2%;
    /* display: inline; */
    /* text-align: center; */

}

.subtitle{
    font-size: 2rem;
    color: white;
    margin: 0;
    display: inline;
    /* text-align: center; */
}

.username{
    font-size: 2rem;
    color: white;
    margin: 0;
    display: inline;
    margin-left: 1%;

    /* text-align: center; */
}

.dates{
    display: flex;
    gap:30px;
}


.description{
    margin-top: 30px;
    font-size: large;
}

.tabContainer {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    width: 100%; 

  }
  

  .tab {
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .activeTab {
    font-weight: bold;
    transition: color 0.3s ease; /* Transition for the active tab's underline */

  }
  
  .tab:hover {
    color: #000; /* Highlight on hover */
  }
  
  .activeTab {
    color: #000; /* Active tab color */
  }
  
  .underline {
    position: absolute;
    bottom:0;
    left: 0;
    height: 3px;
    width: 50%; /* Width of a single tab */
    transition: transform 0.5s ease; /* Smooth sliding effect */
  }

  .eventInfo, .chatroom {
    padding: 10px;
  }

  .signUp{
    background-color: #111;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--font-sofia-pro-regular-az);
    width : 20%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 2%;

  }
  
  .deleteButton{
    background-color: #c12626;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--font-sofia-pro-regular-az);
    width : 20%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  

  .organizerContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .organizerPicture{
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
    margin-left : 10px;
    margin-right : 10px;
    height: 40px;
    width: 40px;
  }